{{define "header"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{{.MetaDescription}}" />
        <title>{{.Title}} | Forever With Us</title>
        <!-- Fonts -->

        <link rel="stylesheet" href="/assets/style.css" />
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body>
        <header class="site-header">
            <h1>A Memorial to Our Precious Teddy</h1>
            <nav>
                <a href="/">Home</a> |
                <a href="/gallery/">Photos</a> |
                <a href="/guestbook/">Guestbook</a>
            </nav>
        </header>
        <main>{{end}}</main>
    </body>
</html>
