{{template "header" .}}

       <div>
           <h2>What He Meant to Us</h2>

           <h3>About Teddy</h3>
           <p>Born on May 1st 2009 in Canada, Teddy was well travled, spunky, vocal,
               affectionate, loyal, and loved close to everyone he met, just as long as they
               not get inbetween him and his mom (Kayla). One of the funnier things about his personality, was his
               ability to completely ignore Pepper (the cat) when she would leap over him in attempts to
               "play".  He loved watermelon and it was always a pleasure to watch him eat it.  He was not much for fetch or
               other games but he loved playing in the snow.  If I did not know any better I would think he looked
               forward to winter.  He also did love running in general when he got the chance.  When he was younger he
               loved to chase things that were way to big for him to scare, but he was fearless in that way.  He was also a quntessential
               "lapdog", and he loved to snuggle.</p>
           <h3>From Kayla</h3>
           <p>This section is for Kayla to fill out when she is ready.  For 17 years and 3 months Kayla and Teddy
               Were inseperable.  </p>

           <h3>From Seth</h3>
           <p>
               Sometimes, something enters you life when you need it most.
               I think that Teddy did that for us at two different times.
           </p>
           <p>
               Before I (Seth) met Teddy I did not consider myself a "pet
               person". Even though Teddy did not not like me to much in
               the beggining, over the years we bonded. He taught me that
               no matter what species you are, it takes time to really
               "love" someone. I took care of Teddy a lot, and through that
               I realized how fulfilling caring for animals can be. I know
               I could never live without a dog now. Even though we sign up
               for heartache when we welcome dogs into our lives, it's so
               worth the times they provide unconditional love, laughs, and
               comfort. I will ever be greatful that I got to spend so many
               years with you Teddy, see you on the other side my friend.
           </p>
       </div>

{{template "footer" .}}
